@model IEnumerable<DrugStore.Models.Entities.LoaiThuoc>
@{
    ViewData["Title"] = "Loại Thuốc";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh Sách Các Loại Thuốc</h1>
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiThuoc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiThuoc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaLT }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaLT }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaLT })
            </td>
        </tr>
    }

</table>

