@model DrugStore.Models.Entities.HangSX

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Hãng sản xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHSX }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>