@model IEnumerable<DrugStore.Models.Entities.HangSX>

@{
    ViewBag.Title = "Index";
}

<h2>Hãng sản xuất</h2>

<p>
    @*@Html.ActionLink("Tạo mới", "Create")*@
    <a href="/Admin/HangSXAdmin/Create" class="button">Tạo mới</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiNSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaHSX }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaHSX }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaHSX })
            </td>
        </tr>
    }

</table>
