@model X.PagedList.IPagedList<DrugStore.Models.Entities.SanPham>
@using X.PagedList.Mvc.Core;
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<form asp-action="Consulting" method="post">
    <label>Yêu cầu của bạn: </label>
    <input type="text" name="consultString" />
    <input type="submit" />
</form>

<div class="row">

    @if (Model.Count > 0 || Model == null)
    {
        <span>@ViewBag.Message</span>
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="product__discount__item">
                    @if (item.Thuoc != null)
                    {
                        <div class="product__discount__item__pic set-bg" data-setbg="/images/sanpham/thuoc/@item.AnhDaiDien">
                            @if (@item.GiamGia > 0)
                            {
                                <div class="product__discount__percent">-@item.GiamGia%</div>
                            }
                            <ul class="product__item__pic__hover">
                                <li><a asp-controller="Shop" asp-action="Product" asp-route-id="@item.MaSP"><i class="fa fa-eye"></i></a></li>
                                @*<li><a href="@Url.Action("AddToCart","Shop",new {@class = "ajax-add-to-cart",@id = item.MaSP,@strURL= Context.Request.GetDisplayUrl().ToString()} )"><i class="fa fa-shopping-cart"></i></a></li>*@
                                <li><a class="ajax-add-to-cart" data-id="@item.MaSP"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    }
                    <div class="product__discount__item__text">
                        <h5><a asp-controller="Shop" asp-action="Product" asp-route-id="@item.MaSP">@item.TenSP</a></h5>
                        <div class="product__item__price">
                            @String.Format(info, "{0:c}", item.DonGia-(item.DonGia*(item.GiamGia/100)))
                            @if (@item.GiamGia > 0)
                            {
                                <span>
                                    @String.Format(info, "{0:c}", item.DonGia)
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <span>Không có sản phẩm phù hợp với yêu cầu của bạn. Vui lòng nhập lại!</span>
    }

</div>
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new{ page = page}))
    @*<a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#"><i class="fa fa-long-arrow-right"></i></a>*@
</div>