@model X.PagedList.IPagedList<DrugStore.Models.Entities.SanPham> 
@using X.PagedList.Mvc.Core;
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<!-- Hero Section Begin -->
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
@*<section class="breadcrumb-section set-bg" data-setbg="/theme/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller ="Home" asp-action="Index">
                            Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        
                    </div>
                    <div class="sidebar__item">
                        <h4>Danh mục</h4>
                        <div class="price-range-wrap">
                            @await Component.InvokeAsync("LoaiThuoc")
                        </div>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        @*<h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>*@
                    </div>
                    <div class="sidebar__item">
                       @* <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Large
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Medium
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Small
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Tiny
                                <input type="radio" id="tiny">
                            </label>
                        </div>*@
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Sản phẩm mới</h4>
                            <div class="latest-product__slider owl-carousel">
                                @await Component.InvokeAsync("SanPhamMoi")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                @*<span>Sắp xếp theo</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>*@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            @*<div class="filter__found">
                                <h6><span>16</span> Products found</h6>
                            </div>*@
                        </div>
                        <div class="col-lg-4 col-md-3">
                            @*<div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>*@
                        </div>
                    </div>
                    <div class="section-title product__discount__title">
                        <h2>Danh sách sản phẩm</h2>
                    </div>
                </div>
                <div class="row">

                    @if (Model.Count <= 0 || Model == null)
                    {
                        <h4>Hiện tại chưa có sản phẩm, chúng tôi sẽ cập nhập sau. Xin cám ơn!</h4>
                    }
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4">
                            <div class="product__discount__item">
                                @if (item.Thuoc != null)
                                {
                                    <div class="product__discount__item__pic set-bg" data-setbg="/images/sanpham/thuoc/@item.AnhDaiDien">
                                        @if (@item.GiamGia > 0)
                                        {
                                            <div class="product__discount__percent">-@item.GiamGia%</div>
                                        }                                       
                                        <ul class="product__item__pic__hover">
                                            <li><a asp-controller="Shop" asp-action="Product" asp-route-id="@item.MaSP"><i class="fa fa-eye"></i></a></li>
                                            @if (!SignInManager.IsSignedIn(User))
                                            {
                                                <li><a href="@Url.Action("AddToCart","Shop",new {@class = "ajax-add-to-cart",@id = item.MaSP,@x= Context.Request.GetDisplayUrl().ToString()} )"><i class="fa fa-shopping-cart"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a class="ajax-add-to-cart" data-id="@item.MaSP" data-x="@Context.Request.GetDisplayUrl().ToString()"><i class="fa fa-shopping-cart"></i></a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="product__discount__item__text">
                                    <h5><a asp-controller="Shop" asp-action="Product" asp-route-id="@item.MaSP">@item.TenSP</a></h5>
                                    <div class="product__item__price">
                                        @String.Format(info, "{0:c}", item.DonGia-(item.DonGia*(item.GiamGia/100)))
                                        @if (@item.GiamGia > 0)
                                        {
                                            <span>
                                                @String.Format(info, "{0:c}", item.DonGia)
                                            </span>
                                        }
                                     </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="product__pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new{ page = page}))
                    @*<a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>*@
                </div><br />
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Đang Giảm giá</h2>
                    </div>
                    @await Component.InvokeAsync("SanPhamGiamGia")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".ajax-add-to-cart").click(function(){
                $.ajax({
                    url: "@Url.Action("AddToCart","Shop")",
                    data:{
                        id: $(this).data("id"),
                        x: "@Context.Request.GetDisplayUrl().ToString()",
                        type: "ajax",
                    },
                    success: function(data){
                        console.log(data);
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Thêm giỏ hàng thành công',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    },
                    error: function(){
                        Swal.fire({
                            icon: 'error',
                            title: 'Thêm giỏ hàng thất bại',
                            text: 'Vui lòng thử lại',
                            footer: '<a href="">Why do I have this issue?</a>'
                        });
                    }
                });
            })
        })
    </script>
}
