@model DrugStore.Models.Entities.SanPham
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<section class="breadcrumb-section set-bg" data-setbg="/theme/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Vegetable’s Package</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a href="./index.html">Vegetables</a>
                        <span>Vegetable’s Package</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item" style="max-width:450px">
                        @if (Model.MaLoaiSP == "T")
                        {
                            <img class="product__details__pic__item--large"
                                 src="/images/sanpham/thuoc/@Model.AnhDaiDien" alt="">
                        }
                    </div>
                    <div class="product__details__pic__slider owl-carousel">

                        @{

                            try
                            {
                                var Listimage = Model.DSAnhSP.Split(',');

                                if (!string.IsNullOrEmpty(Model.DSAnhSP))
                                {


                                    if (@Listimage.Count() > 0)
                                    {
                                        foreach (var item in Listimage)
                                        {
                                            if (!string.IsNullOrEmpty(item))
                                            {
                                                <img data-imgbigurl="/images/sanpham/thuoc/@item"
                                                     src="/images/sanpham/thuoc/@item" alt="">
                                            }
                                           
                                        }
                                    }
                                }
                            }
                            catch (Exception ex)
                            {

                            }

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.TenSP</h3><!--Tên SP-->
                   @* <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>*@
                    <div class="product__details__price">@String.Format(info, "{0:c}", Model.DonGia)</div><!--Giá Sp-->
                    <p>
                       @Model.MoTa
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("AddToCart","Shop",new { @id = Model.MaSP,@strURL= Context.Request.GetDisplayUrl().ToString()} )" class="primary-btn">THÊM VÀO GIỎ HÀNG</a>
                   @* <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>*@
                    <ul>
                        <li><b>Loại sản phẩm</b> <span>@Model.LoaiSP.TenLoaiSP</span></li>
                        <li><b>trạng thái</b> <span>@Model.TrangThai.TenTT@*<samp>Free pickup today</samp></span>*@</li>
                        <li><b>Hãng sản xuất</b> <span>@Model.HangSX.TenHSX</span></li>
                        <li><b>Đơn vị tính</b><span>@Model.Thuoc.DonViTinh</span></li>
                        <li><b>Đơn giá</b><span> @String.Format(info, "{0:c}", Model.DonGia)</span></li>
                        @if (true)
                        {
                            <li><b>Giảm giá</b><span>-@Model.GiamGia%</span></li>
                            <li><b>Giá hiện tại</b><span>@String.Format(info, "{0:c}", Model.DonGia-(Model.DonGia*(Model.GiamGia/100)))</span></li>
                        }
                        

                    </ul>
                   
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="false">Mô Tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Công Dụng</a>
                        </li>
                        @if (Model.MaLoaiSP == "T")
                        {
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                   aria-selected="false">Thành Phần</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"
                                   aria-selected="false">Liều Dùng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab"
                                   aria-selected="false">Tác dụng phụ</a>
                            </li>
                        }
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                @*<h6>Products Infomation</h6>*@
                                <p>
                                    @Model.MoTa
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                @*<h6>Products Infomation</h6>*@
                                <p>
                                    @Model.CongDung
                                </p>
                            </div>
                        </div>
                        @if (Model.MaLoaiSP == "T")
                        {
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    @*<h6>Products Infomation</h6>*@
                                    <p>
                                        @Model.Thuoc.ThanhPhan
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    @*<h6>Products Infomation</h6>*@
                                    <p>
                                        @Model.Thuoc.LieuDung
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    @*<h6>Products Infomation</h6>*@
                                    <p>
                                        @Model.Thuoc.TacDungPhu
                                    </p>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/theme/img/product/product-1.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a asp-controller="Shop" asp-action="Product">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/theme/img/product/product-2.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a asp-controller="Shop" asp-action="Product">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/theme/img/product/product-3.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a asp-controller="Shop" asp-action="Product">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/theme/img/product/product-7.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a asp-controller="Shop" asp-action="Product">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->
