@model X.PagedList.IPagedList<DrugStore.Models.Entities.GioHang>
@using X.PagedList.Mvc.Core;
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/theme/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Giỏ Hàng</h2>
                    <div class="breadcrumb__option">
                        @*<a asp-controller="Home" asp-action="Index">Home</a>*@
                        @*<span>Giỏ Hàng</span>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản Phẩm</th>
                                <th>Đơn Giá</th>
                                <th>Giảm Giá</th>
                                <th>Số Lượng</th>
                                <th>Thành Tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.CountCart == 0)
                            {
                                <tr>
                                    <td>Chưa Có Sản Phẩm Nào Trong Giỏ hàng</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.SanPham.MaLoaiSP == "T")
                                        {
                                            <td class="shoping__cart__item">
                                                <img src="/images/sanpham/thuoc/@item.SanPham.AnhDaiDien" alt="" width="100px" height="100px">
                                                <h5 class="pt-2">@item.SanPham.TenSP</h5>
                                            </td>
                                        }

                                        <td class="shoping__cart__price">
                                            @String.Format(info, "{0:c}", item.SanPham.DonGia)
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.SanPham.GiamGia%
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            @*<div class="quantity">
                                    <div class="pro-qty">
                                    <input type="text" value="1">
                                    </div>
                                    </div>*@
                                            @item.SoLuong
                                        </td>
                                        <td class="shoping__cart__total">
                                            @String.Format(info, "{0:c}", item.ThanhTien)
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a href="@Url.Action("DeleteFromCart","Shop",new { @id = item.SanPham.MaSP })">
                                                <span class="icon_close"></span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            
                            
                            @*<tr>
                                <td class="shoping__cart__item">
                                    <img src="/theme/img/cart/cart-2.jpg" alt="">
                                    <h5>Fresh Garden Vegetable</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $39.00
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $39.99
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="/theme/img/cart/cart-3.jpg" alt="">
                                    <h5>Organic Bananas</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $69.00
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $69.99
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    @*<a href="#" class="primary-btn cart-btn">Tiếp tục mua sắm</a>*@
                    @Html.PagedListPager(Model, page => Url.Action("Shopingcart", new{ page = page, @class="active"}))
                    <a href="#" class="primary-btn cart-btn cart-btn-right">
                        @*<span class="icon_loading"></span>
                        Upadate Cart*@
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        @*<h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Thông tin giỏ hàng</h5>
                    <ul>
                        <li>Số lượng sản phẩm<span>@ViewBag.CountCart</span></li>
                        <li>Tổng Tiền <span> @String.Format(info, "{0:c}", ViewBag.SumPriceCart) </span></li>
                    </ul>
                    <a asp-controller="Shop" asp-action="PayForShopingCart" class="primary-btn">THANH TOÁN GIỎ HÀNG</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
