<<<<<<< HEAD
﻿@model DrugStore.Areas.Admin.Data.ThuocInput
=======
﻿@using DrugStore.Models.Entities;
@model DrugStore.Models.Entities.Thuoc
>>>>>>> Khuong
@{
    string fileImagePath = "/images/SanPham/Thuoc/";
    DrugStoreDbContext dbContext = new DrugStoreDbContext().Created();
}


<form asp-action="Edit" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thuốc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<<<<<<< HEAD
        @Html.HiddenFor(model => model.MaSP)
=======
            <input type="hidden" asp-for="MaSP"/>
            <input type="hidden" asp-for="SanPham.MaSP"/>
            <input type="hidden" asp-for="SanPham.AnhDaiDien"/>
            <input type="hidden" asp-for="SanPham.MaLoaiSP" />
            <div class="form-group">
                @Html.LabelFor(model => model.SanPham.TenSP, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SanPham.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SanPham.TenSP, "", new { @class = "text-danger" })
                </div>
            </div>
>>>>>>> Khuong

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CongDung, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CongDung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CongDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiamGia, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiamGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiamGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonViTinh, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonViTinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LieuDung, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LieuDung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LieuDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TacDungPhu, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TacDungPhu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TacDungPhu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThanhPhan, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThanhPhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThanhPhan, "", new { @class = "text-danger" })
            </div>
        </div>

<<<<<<< HEAD
        @*<div class="form-group">
        @Html.LabelFor(model => model.MaLoaiSP, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
        <div class="col-md-10">
        @Html.DropDownList("MaLoaiSP", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaLoaiSP, "", new { @class = "text-danger" })
        </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MaHSX, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaHSX", (IEnumerable<SelectListItem>)ViewBag.MaHSX, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaHSX, "", new { @class = "text-danger" })
=======
            

            <div class="form-group">
                @Html.LabelFor(model => model.SanPham.MaHSX, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("MaHSX", (IEnumerable<SelectListItem>)ViewBag.MaHSX, htmlAttributes: new { @class = "form-control" })*@
                    <select asp-for="SanPham.MaHSX" asp-items="ViewBag.MaHSX" class = "form-control" htmlAttributes></select>
                    @Html.ValidationMessageFor(model => model.SanPham.MaHSX, "", new { @class = "text-danger" })
                </div>
>>>>>>> Khuong
            </div>
        </div>

<<<<<<< HEAD
        <div class="form-group">
            @Html.LabelFor(model => model.MaTT,htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaTT", (IEnumerable<SelectListItem>)ViewBag.MaTT, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaTT, "", new { @class = "text-danger" })
=======
            <div class="form-group">
                @Html.LabelFor(model => model.SanPham.MaTT,htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
                <div class="col-md-10">
                    <select asp-for="SanPham.MaTT" asp-items="ViewBag.MaTT" class = "form-control" htmlAttributes></select>
                    @*@Html.DropDownList("MaTT", (IEnumerable<SelectListItem>)ViewBag.MaTT, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.SanPham.MaTT, "", new { @class = "text-danger" })
                </div>
>>>>>>> Khuong
            </div>
        </div>

<<<<<<< HEAD
        <div class="form-group">
            @Html.LabelFor(model => model.MaLT, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLT", (IEnumerable<SelectListItem>)ViewBag.MaLT, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLT, "", new { @class = "text-danger" })
=======
            <div class="form-group">
                @Html.LabelFor(model => model.MaLT, htmlAttributes: new { @class = "control-label col-md-2 pb-1 pt-2" })
                <div class="col-md-10">
                    <select asp-for="MaLT" asp-items="ViewBag.MaLT" class = "form-control" htmlAttributes></select>
                    @*@Html.DropDownList("MaLT", (IEnumerable<SelectListItem>)ViewBag.MaLT, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.MaLT, "", new { @class = "text-danger" })
                </div>
>>>>>>> Khuong
            </div>
        </div>

            <div class="form-group">
            <label asp-for="AnhDaiDien" class="col-md-2 control-label col-md-2 pb-1 pt-2"></label>
                <div class="col-md-5">

                    <input type="file" name="fileImage" value="" id="Upimg1" />
                    <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
                    <div id="divImageMediaPreview1">
<<<<<<< HEAD
                    <img src="@fileImagePath@Model.AnhDaiDien" style="width: 100px; height: 100px; padding: 10px" />
=======
                    <img src="/images/SanPham/Thuoc/@Model.SanPham.AnhDaiDien" style="width: 100px; height: 100px; padding: 10px" />
>>>>>>> Khuong
                    </div>

                </div>

            </div>
            <div class="form-group">
                <label asp-for="DSAnhSP" class="col-md-2 control-label col-md-2 pb-1 pt-2"></label>
                <div class="col-md-5">


                    <input type="file" name="fileImages" value="" id="Upimg" multiple />
                    <span asp-validation-for="DSAnhSP" class="text-danger"></span>
                    <div id="divImageMediaPreview">
                    @{

                        try
                        {
<<<<<<< HEAD
                            var Listimage = Model.DSAnhSP.Split(',');

                            if (!string.IsNullOrEmpty(Model.DSAnhSP))
=======
                            if (Model.SanPham.DSAnhSP!=null)
>>>>>>> Khuong
                            {
                                var Listimage = Model.SanPham.DSAnhSP.Split(',');
                                if (!string.IsNullOrEmpty(Model.SanPham.DSAnhSP))
                                {


                                    if (@Listimage.Count() > 0)
                                    {
                                        foreach (var item in Listimage)
                                        {
                                            if (!String.IsNullOrEmpty(item))
                                            {
                                                <img src="@fileImagePath@item" alt="" data-image="@item" style="width: 100px; height: 100px; padding: 10px">
                                            }

                                        }
                                    }

                                }
                            }
                            
                        }
                        catch (Exception ex)
                        {

                        }

                    }
                    </div>

                </div>

            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Trở về danh sách", "Index","SanPhamsAdmin")
</div>
<script>
    $(document).ready(function () {

        $("#Upimg").change(function () {
            if (typeof (FileReader) != "undefined") {
                console.log("test")
                var dvPreview = $("#divImageMediaPreview");
                dvPreview.html("");
                if ($(this)[0].files.length < 4) {
                    $($(this)[0].files).each(function () {
                        var file = $(this);
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("<img />");
                            img.attr("style", "width: 100px; height:100px; padding: 10px");
                            img.attr("src", e.target.result);
                            console.log(e.target.result);
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    });
                } else {
                    alert("You can select only 3 images");
                }

            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });
        $("#Upimg1").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview1");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "width: 100px; height:100px; padding: 10px");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });

    })
</script>