@model DrugStore.Areas.Admin.Data.TinTucInput

<div class="p-5">
<h2>Tạo mới tin tức</h2>

<form asp-action="Create"  enctype="multipart/form-data"  method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tin tức</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.TextAreaFor(model => model.content)
                    <script>
                        CKEDITOR.replace("content");
                    </script>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-md-2">tag</label>
            <div class="col-md-10">
                @Html.ListBoxFor(model=> model.idtag,Model.drptag, new {@class="form-control",id="tag", multiple="multiple" })
                @Html.ValidationMessageFor(model => model.idtag, "", new { @class = "text-danger" })
            </div>
        </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.cover, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="custom-file">
                <input type="file" name="fileImage" value="" accept = "image/*" id="Upimg1" multiple />
                @*@Html.TextBox("fileImage", "", new { type = "file", accept = "image/*", @id="Upimg" })<br />*@
                <div id="divImageMediaPreview1"></div>
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
       
    <script>
    $(function () {
    $('#tag').multiselect({
        includeSelectAllOption : true,
    });
    });
</script>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>
</div>
<script>
    $(document).ready(function () {
        $("#Upimg1").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#divImageMediaPreview1");
                dvPreview.html("");
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "width: 200px; height:120px; padding: 10px");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });

    })
</script>