@model DrugStore.Areas.Admin.Data.TinTucInput

<div class="p-5">
<h2>Create</h2>

<form asp-action="Create"  enctype="multipart/form-data"  method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TinTuc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        
            <div class="form-group">
                <label class="control-label col-md-2">tag</label>
                <div class="col-md-10">
                    @Html.ListBoxFor(model=> model.idtag,Model.drptag, new {@class="form-control",id="tag", multiple="multiple" })
                @Html.ValidationMessageFor(model => model.idtag, "", new { @class = "text-danger" })
                </div>
            </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.cover, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="custom-file">
                @Html.TextBox("fileImage", "", new { type = "file", accept = "image/*" })<br />
   
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
@section Scripts{
    
    <script>
    $(function () {
    $('#tag').multiselect({
        includeSelectAllOption : true,
    });
    });
</script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>