@model DrugStore.Models.Entities.TinTuc

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa tin tức</h2>

<h3>Bạn có chắc muốn xóa tin tức này?</h3>
<div>
    <h4>Tin tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGiaDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGiaDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuotXem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuotXem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            <img src="/images/tintuc/@Model.AnhDaiDien" height="100" width="100" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
