@using System.Web;
@model DrugStore.Models.Entities.TinTuc

@{
    ViewBag.Title = "Delete";
}

<h2>Chi tiết</h2>

<div>
    <h4>Tin tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <input id="tempDescription" value="@Model.NoiDung" hidden readonly />
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGiaDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGiaDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
       
        
        <dd id="Description">
            

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuotXem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuotXem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            <img src="~/images/tintuc/@Model.AnhDaiDien" height="100" width="150" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-default" /> |*@
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaTT })  |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
<script>
    $(window).on('load', function () {
        var temp = $("#tempDescription").val();
        $("#Description").html(temp);

    })
</script>
