@model DrugStore.Areas.Admin.Data.TinTucInput

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa</h2>


<form asp-action="edit" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TinTuc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idtintuc)

        <div class="form-group">
            @Html.LabelFor(model => model.createdDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createdDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.createdDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">tag</label>
            <div class="col-md-10">
                @Html.ListBoxFor(model=> model.idtag,Model.drptag, new {@class="form-control",id="tag", multiple="multiple" })
                @Html.ValidationMessageFor(model => model.idtag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cover, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="custom-file">
                @Html.HiddenFor(model => model.cover)
                @Html.TextBox("fileImage", "", new { type = "file", accept = "image/*" })<br />
                <img id="preview" src="~/images/tintuc/@Model.cover" width="150" height="100" class="hidden" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@section Scripts{

    <script>
        $(function () {
            $('#tag').multiselect({
                includeSelectAllOption: true,
            });
        });
    </script>
}
<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>