@using DrugStore.Models.Entities;
@using NuGet.Packaging;
@model DrugStore.Models.Entities.TinTuc
@{
    DrugStoreDbContext dbContext = new DrugStoreDbContext().Created();
    List<TinTuc> tinTucLikes = new List<TinTuc>();
    List<Tag> tags;
    foreach (var item in Model.TagTinTucs.ToList())
    {
        Tag tag = dbContext.Tags.Find(item.IdTag);
        tinTucLikes.AddRange(tag.TinTucs);
    }
    
}
 @*<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->*@
<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="/theme/img/wallpaper.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>@Model.MoTaTT</h2>
                    <ul>
                        @*<li>By Michael Scofield</li>*@
                        <li>@Model.ThoiGiaDang</li>
                        <li>@Model.SoLuotXem Lượt xem</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                @await Component.InvokeAsync("DanhMucTinTuc")
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="/images/tintuc/@Model.AnhDaiDien" alt="">
                    <input id="tempDescription" value="@Model.NoiDung" hidden readonly />
                    <p id="Description">  
                    </p>
                    
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    
                                </div>
                                <div class="blog__details__author__text">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    @*<li><span>Categories:</span> Food</li>*@
                                    <li><span>Tags:</span> @foreach (var item in Model.TagTinTucs)
                                        {
                                            <a href="#">@item.IdTag</a>
                                        }</li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <a asp-action="Index" asp-controller="Blog" class="btn btn-primary">Quay lại danh sách tin tức</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Các tin liên quan</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in tinTucLikes.OrderBy(c=>c.SoLuotXem).Take(3).ToList())
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/images/tintuc/@item.AnhDaiDien" height="180" width="200" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> @item.ThoiGiaDang</li>
                                <li><i class="fa fa-eye"></i> @item.SoLuotXem</li>
                            </ul>
                            <h5><a asp-action="BlogDetail" asp-controller="Blog" asp-route-id="@item.MaTT">@item.MoTaTT</a></h5>
                            @*<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>*@
                        </div>
                    </div>
                </div>
            }
            @*<div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="/theme/img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="/theme/img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="/theme/img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
<script>
    $(window).on('load', function () {
        var temp = $("#tempDescription").val();
        $("#Description").html(temp);

    })
</script>
<!-- Related Blog Section End -->