@model IEnumerable<DrugStore.Models.Entities.HinhThucThanhToan>

@{
    ViewBag.Title = "Index";
}

<h2>Hình thức thanh toán</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="/Admin/HinhThucThanhToans/Create" class="button">Tạo mới</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHT })
        </td>
    </tr>
}

</table>
